.margin-top {
  margin-top: 5%;
}

.maincolor {
  background-color: #e83e8c;
  border: #e83e8c;
  width: 50%;
  margin: 0 auto;
  margin-top: 5%;
}

.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid #e83e8c; /* pink */
}

.ng-invalid:not(form) {
  border-left: 5px solid #efefef; /* grey */
}

.image-preview {
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
}
